about-time==4.2.1
alive-progress==3.2.0
caugetch==0.0.1
certifi==2025.6.15
charset-normalizer==3.4.2
clipboard==0.0.4
colorama==0.4.6
dotenv==0.9.9
getpass4==0.0.14.1
grapheme==0.6.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
pyparsing==3.2.3
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
rdflib==7.1.4
requests==2.32.4
six==1.17.0
SPARQLWrapper==2.0.0
urllib3==2.4.0
